BOT_TOKEN=your_bot_token_here
MAIN_CHANNEL_ID=@anderson_one_life
MAIN_CHANNEL_URL=https://t.me/anderson_one_life

# Можно указать числовые ID чатов через запятую, если у чатов нет username.
COMMUNITY_CHAT_IDS=

# Telegram ID администраторов через запятую.
ADMIN_IDS=893668210

# Цена платного объявления в Telegram Stars.
DEFAULT_PRICE_STARS=30

# Для оплаты в Stars обычно используется пустое значение.
STARS_PROVIDER_TOKEN=

MAX_POSTS_PER_MINUTE=60
POST_COOLDOWN_SECONDS=1
NEW_USER_LINK_BLOCK_SECONDS=60
BLACKLIST_WORDS=
PIN_DURATION_SECONDS=600
SQLITE_PATH=community_bot.db
